
<!--Budget Categories Container-->
<main>
	
	<div id="budget-container">
		
		<!--Monthly Expenses-->
		<form class="budget-form" id="expense-form">
			<h3 class="onboarding-label">My reoccuring expenses are:</h3>
			<div id="expense-container" class="list-container">
			</div>
			<div class="budget-add">
		    	<label for="add-expense" class="visually-hidden">Add your own expense category</label>
		    	<input placeholder="Enter new expense category" type="text" id="add-expense">
		    	<div class="add" id="expense-add">+</div>		    </div>
		</form>

			<!--Monthly Savings-->
		<form class="budget-form" id="saving-form">
			<h3 class="onboarding-label">My reoccuring savings are:</h3> 
			<div id="saving-container" class="list-container">
			</div>
		    <div class="budget-add">
		    	<label for="add-saving" class="visually-hidden">Add your own savings category</label>
		    	<input placeholder="Enter new savings category" type="text" id="add-saving">

		    	<div class="add" id="saving-add">+</div>
		    </div>
		</form>
	</div>
	<!--Budget Allocation Container-->
	<div id="allocation-container">
	</div>
</main>
<!--Footer-->
<footer class="onboarding">
	<!--Next Button-->
	<div class="page-bottom">
		<a class="btn waves-effect waves-light" name="action" href="/budget">Next
		</a>
	</div>
</footer>
<script	src="/js/budget.js"></script>