
<!--Budget Categories Container-->
<main>
	<h3 class="onboarding-label">My reoccuring budget categories are:</h3>
	<div id="budget-container">
		
		<!--Monthly Expenses-->
		<form>
			<legend>Expenses</legend>
			<div id="expense-container" class="list-container">
			</div>
			<div class="budget-add">
		    	<label for="add-expense" class="visually-hidden">Add your own expense category</label>
		    	<input placeholder="Enter new expense category" type="text" id="add-expense">
		    	<div class="add" id="expense-add">+</div>		    </div>
		</form>

			<!--Monthly Savings-->
		<form>
		    <legend>Savings</legend>
			<div id="saving-container" class="list-container">
			</div>
		    <div class="budget-add">
		    	<label for="add-saving" class="visually-hidden">Add your own savings category</label>
		    	<input placeholder="Enter new savings category" type="text" id="add-saving">

		    	<div class="add" id="saving-add">+</div>
		    </div>
		</form>
	</div>
	<!--Budget Allocation Container-->
	<div id="allocation-container">
	</div>
</main>
<!--Footer-->
<footer class="onboarding">
	<!--Next Button-->
	<div class="page-bottom">
		<a class="btn waves-effect waves-light" name="action" href="/budget">Next
		</a>
	</div>
</footer>

<script>
	//Updating progress bar
  $(".progress-bar li:first-child").addClass("complete");
  $(".progress-bar li:nth-child(2)").addClass("complete");
  $(".progress-bar li:nth-child(3)").addClass("complete");
  $(".progress-bar li:nth-child(4)").addClass("active");
</script>