<!--
Budget

Monthly
Categories / Cost

One-time 


Savings

-->

<div id="budget-container">
	<form>
		<legend>What reoccuring monthly expenses do you have?</legend>
		<p>
			<label for="housing">
				<input id="housing"  value="housing" name="monthy" type="checkbox" />
				<span>Housing</span>
			</label>
	    </p>
	    <p>
			<label for="phone">
				<input name="monthy" id="phone"  value="phone" name="monthy" type="checkbox" />
				<span>Phone</span>
			</label>
	    </p>
	    <p>
			<label for="transportation">
				<input type="checkbox" id="transportation"  value="transportation" name="monthy" />
				<span>Transportation</span>
			</label>
	    </p>
	    <p>
			<label for="groceries">
				<input type="checkbox" id="groceries"  value="groceries" name="monthy"/>
				<span>Groceries</span>
			</label>
	    </p>
	    <p>
			<label for="gym">
				<input type="checkbox" id="gym"  value="gym" name="monthy"/>
				<span>Gym</span>
			</label>
	    </p>
	    <p>
			<label for="discretionary">
				<input type="checkbox" id="discretionary"  value="discretionary" name="monthy"/>
				<span>Discretionary</span>
			</label>
	    </p>
	    <p>
			<label for="utilities">
				<input type="checkbox" id="utilities"  value="utilities" name="monthy"/>
				<span>Utilities</span>
			</label>
	    </p>
	    <p>
			<label for="gas">
				<input type="checkbox" id="gas"  value="gas" name="monthy"/>
				<span>Gas</span>
			</label>
	    </p>


		
	</form>
</div>


<script>
	//Updating progress bar
  $(".progress-bar li:first-child").addClass("complete");
  $(".progress-bar li:nth-child(2)").addClass("complete");
  $(".progress-bar li:nth-child(3)").addClass("complete");
  $(".progress-bar li:nth-child(4)").addClass("active");
</script>