
<!--How much do you need, When do you want to retire-->
<main>
  <div class="row">
  <form class="col s12">
    <div class="row">
    <div class="input-field col s12">
      <h3 class="onboarding-label">What's your dream financial independence date?</h3>
      <input type="text" name="date" id="date" class="datepicker validate" required>
      <label class="browser-default visually-hidden" for="date">What's your dream financial independence date?</label>
      <p id="date-error"></p>
      </div>
      
    </div>

    <div class="row">
      <div class="input-field col s12">
        <h3 class="onboarding-label">How much will your annual expenses be in retirement?</h3>
        <!--Range Input-->
          <input type="range" id="retirement-amount" name="retirement-amount" min="0" max="300000" step="5000" value="slider" onchange="document.querySelector('.rangeValue').innerHTML = this.value">
          <span>$</span>
          <span class="rangeValue">150,000</span>
        <label class="browser-default visually-hidden" for="retirement-amount">Enter annual expenses in retirement</label>
        <p id="retirement-amount-error"></p>
      </div>
    </div>
   </form>
</main>
<!--Footer-->
<footer class="onboarding">
  <!--Next Button-->
  <div class="page-bottom">
    <a class="btn waves-effect waves-light goals-submit" name="action" href="/budget">Next
    </a>
  </div>
</footer>

<script>
  //Updating progress bar
  $(".progress-bar li:first-child").addClass("active");
</script>