
<!--How much do you need, When do you want to retire-->

<div class="row">
<form class="col s12">
  <div class="row">
  <div class="input-field col s12">
    <input type="text" class="datepicker">
    <label for="retirement-time">When do you want to retire?</label>
    </div>
    <p id="retirement-time-error"></p>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="retirement-amount" type="text" class="validate" required>
      <label for="retirement-amount">How much do you need to live on?</label>
      <p id="retirement-amount-error"></p>
    </div>
  </div>
  <div class="row">
  	<button class="btn waves-effect waves-light goals-submit" type="submit" name="action">Next
	</button>
  </div>
</form>
</div>