<!--
Income

Monthly - Income
Hours worked a month

-->
<main>
	<div id="income-container">
		<form>

		</form>
	</div>
</main>
<!--Footer-->
<footer class="onboarding">
  <!--Next Button-->
  <div class="page-bottom">
    <a class="btn waves-effect waves-light goals-submit" name="action" href="/budget">Next
    </a>
  </div>
</footer>

<script>
	//Updating progress bar
  $(".progress-bar li:first-child").addClass("complete");
  $(".progress-bar li:nth-child(2)").addClass("complete");
  $(".progress-bar li:nth-child(3)").addClass("active");
</script>