<!--
Income

Monthly - Income
Hours worked a month

-->

<div id="income-container">
	<form>

	</form>
</div>

<script>
	//Updating progress bar
  $(".progress-bar li:first-child").addClass("complete");
  $(".progress-bar li:nth-child(2)").addClass("complete");
  $(".progress-bar li:nth-child(3)").addClass("active");
</script>