
<main>
	<div id="income-container">
		<form>
			<!--Row-->
			<div class="row">
				<!--Income Name Input-->

				<!--Income Input-->
		        <h3 class="onboarding-label">My dream financial independence date is</h3>
		        <input type="text" name="date" id="date" class="datepicker validate" required>
		        <label class="browser-default visually-hidden" for="date">What's your dream financial independence date?</label>
		        <p id="date-error"></p>
		        <!--Dropdown Input-->
		        <select>
				  <option value="volvo">Volvo</option>
				  <option value="saab">Saab</option>
				  <option value="mercedes">Mercedes</option>
				  <option value="audi">Audi</option>
				</select>


		      
		    </div>


		</form>
	</div>
</main>
<!--Footer-->
<footer class="onboarding">
  <!--Next Button-->
  <div class="page-bottom">
    <a class="btn waves-effect waves-light goals-submit" name="action" href="/budget">Next
    </a>
  </div>
</footer>

<script>
	//Updating progress bar
  $(".progress-bar li:first-child").addClass("complete");
  $(".progress-bar li:nth-child(2)").addClass("complete");
  $(".progress-bar li:nth-child(3)").addClass("active");
</script>