//footer 

footer.onboarding {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: $primary;
	position: fixed;
	height: 10%;
	z-index: 1;

		a {
			position: absolute;
			right: 10%;
			top: 0;
			margin: 10px
		}
}