.income-button {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 4px $secondary solid;
	border-radius: 5px;
	padding: 15px;
	margin: 10px;
	background: lighten($secondary,10%);
	opacity: 0.9;
	width: 30%;
	color: white;

		&:hover {
			background: lighten($secondary, 20%)
		}

}