//main styles
h1.onboarding {
	text-align: center;
	font-weight: bold;
	padding-bottom: 3rem;
	font-size: 3rem;
}

h3.onboarding-label {
	font-size: 2rem;
	color: $secondary;
}

//Goal Pages

.spend {
	font-weight: bold;
	color: darken($secondary, 20%)
}








