//main styles
h1.onboarding {
	text-align: center;
	font-weight: bold;
	padding-bottom: 3rem;
	font-size: 3rem;
}

h3.onboarding-label {
	font-size: 2rem;
	color: $secondary;
}

//Networth page

#asset-buttons-container {
	display: flex;
	flex-wrap: wrap;

		figcaption {
			text-align: center;
			font-size: 1.5rem;
		}

}

.asset-button {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 4px $secondary solid;
	border-radius: 5px;
	padding: 15px;
	margin: 10px;
	background: lighten($secondary,10%);
	opacity: 0.9;
	height: 110px;
	width: 110px;

		img {
			display: block;
			max-height: 30px;
			display: none;
		}

		figcaption {
			color: black;
		}

}

.asset-button:hover {
	background: lighten($secondary, 20%)
}






