.progress-container {
	width: 100%;
	height: 100%;
}
.progress-bar {
	counter-reset: step;
}

.progress-bar li {
	list-style-type: none;
	float: left;
	width: 20%;
	position: relative;
	text-align: center;
	font-size: 1.2rem;
}

.progress-bar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	display: block;
	text-align: center;
	margin: 0 auto 10px;
	border-radius: 50%;
	line-height: 30px;
	position: relative;
	background-color: white;
	z-index: 1;
}

.progress-bar li:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	border: 1px solid black;
	top: 15px;
	left: -50%;
	z-index: 0;
}

.progress-bar li:first-child:after {
	content: none;
}

.progress-bar li.active {
	color: $secondary;
}

.progress-bar li.complete:before {
	content: "✔";
	color: $secondary;
	border: 1px solid $secondary;
}

.progress-bar li.complete {
	color: $secondary;
}

.progress-bar li.active:before {
	border: 1px solid $secondary;
}

.progress-bar li.active:after {
	border: 1px solid $secondary;
}

.progress-bar li.complete:after {
	border: 1px solid $secondary;
}

.progress-bar li.active a {
	color: $secondary;
}

.progress-bar li.complete a {
	color: $secondary;
}

.progress-bar a {
	color: black;
	font-size: 1.2rem;
}