/*Website Colours*/
$primary: #FABC09;
$secondary: #25BEA0;
$accent: #FACC43;
$accent2: #34073D;
$background: #D3E3DD;


/*Stylesheet Import*/
@import 'normalize';
@import 'onboarding';
@import 'footer';
@import 'data';
@import 'mediaqueries';
@import 'progress';
@import 'networth';
@import 'budget';
@import 'goals';
@import 'income';
@import 'result';
 
/*Main Styles*/

html {
	font-size: 62.5%;
}

main {
	width: 80%;
	margin: 0 auto;
}

body {
	height: 100vh;
	background: linear-gradient(to bottom right, lighten($secondary,5%) , lighten($secondary,40%));
}

.hide {
	display:none;
}


#login-page {
	background: linear-gradient(to bottom right, $secondary , lighten($secondary,40%));
	.container {
		width: 30%;
		padding-top: 100px;
		color: white;

			label {
				color: white;
			}

			input {
				border-bottom: 2px white solid;
			}
	}

	button {
		background: $primary;
	}
}

#title-top {
		width: 200px;
		#titles { 
			display: flex;
		}
		h1 {
			margin-right: 30px;
			margin-bottom: 5px;
		}
			
}

div.line-container {
	position: relative;
	width: 100%;
}
span.line {
		background: white;
		width: 40%;
		height: 2px;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 200ms ease;

		&.right {
			left: 50%;
			
		}
	}

