@charset "UTF-8";
/*Website Colours*/
/*Stylesheet Import*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

h1.onboarding {
  text-align: center;
  font-weight: bold;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: white; }

h3.onboarding-label {
  font-size: 2rem;
  color: white; }

.spend {
  font-weight: bold;
  color: #146958; }

input[type="range"] {
  background: white !important; }

footer.onboarding {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FABC09;
  position: fixed;
  height: 10%;
  z-index: 1; }
  footer.onboarding a {
    position: absolute;
    right: 10%;
    top: 0;
    margin: 10px; }

.data-block {
  background: #FABC09;
  border-radius: 3px;
  padding: 10px; }

.data-header {
  font-size: 1.4rem; }

.data-value {
  font-size: 2.7rem;
  margin: 20px 0px; }

.data-sub {
  font-size: 1.2rem; }

/*Bar*/
.bar-container {
  display: flex;
  height: 30px; }

.bar-full {
  background: #25BEA0;
  width: 30%; }

.bar-empty {
  background: #FACC43;
  width: 70%; }

@media only screen and (max-width: 900px) {
  #login-page .container {
    width: 50% !important; }

  section#networth-selection {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none; }

  section.networth-box {
    width: 100%; }

  section#your-networth {
    width: 100%;
    margin-bottom: 200px; }

  section#income-container {
    width: 100%; }

  section#your-income-container {
    width: 100%;
    margin-top: 10px; }

  .result-container {
    display: flex;
    flex-wrap: wrap; }

  .result-container div.results-box {
    width: 100%; } }
@media only screen and (max-width: 700px) {
  html {
    font-size: 10%; }

  #login-page .container {
    width: 80% !important; } }
.progress-container {
  width: 100%;
  height: 100%; }

.progress-bar {
  counter-reset: step; }

.progress-bar li {
  list-style-type: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
  font-size: 1.2rem; }

.progress-bar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  border-radius: 50%;
  line-height: 30px;
  position: relative;
  background-color: white;
  z-index: 1; }

.progress-bar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px solid white;
  top: 15px;
  left: -50%;
  z-index: 0; }

.progress-bar li:first-child:after {
  content: none; }

.progress-bar li.active {
  color: #FACC43; }

.progress-bar li.complete:before {
  content: "✔";
  color: black;
  border: 1px solid #FACC43;
  background: #FACC43; }

.progress-bar li.complete {
  color: #FACC43; }

.progress-bar li.active:before {
  border: 1px solid #FACC43;
  background: #FACC43;
  color: black; }

.progress-bar li.active:after {
  border: 1px solid #FACC43; }

.progress-bar li.complete:after {
  border: 1px solid #FACC43; }

.progress-bar li.active a {
  color: white; }

.progress-bar li.complete a {
  color: white; }

.progress-bar a {
  color: white;
  font-size: 1.2rem; }

#asset-buttons-container {
  display: flex;
  flex-wrap: wrap; }
  #asset-buttons-container figcaption {
    text-align: center;
    font-size: 1.2rem; }

.asset-button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px #25BEA0 solid;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background: #3dd9bb;
  opacity: 0.9;
  height: 80px;
  width: 80px; }
  .asset-button img {
    display: block;
    max-height: 30px;
    display: none; }
  .asset-button figcaption {
    color: black; }

.asset-button:hover {
  background: #68e1ca; }

.total {
  font-weight: bold; }

.total-row {
  background: #fde7a6; }

.networth-box {
  float: left;
  padding: 2rem; }

#networth-selection {
  width: 65%;
  padding: 0px 50px; }

#your-networth {
  width: 35%;
  padding: 0px 50px 20px;
  background: #FACC43;
  border-radius: 10px; }
  #your-networth h4 {
    text-align: center;
    color: #146958;
    font-size: 1.5rem;
    font-weight: bold; }

#networth-table {
  text-transform: capitalize; }

#budget-container {
  height: 200px;
  display: flex; }

.budget-form span {
  color: white; }

[type="checkbox"]:checked + span:not(.lever):before {
  color: #34073D;
  border-right: #34073D 2px solid;
  border-bottom: #34073D 2px solid; }

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white; }

#expense-range-container label {
  color: white; }

#saving-range-container label {
  color: white; }

input#add-expense::placeholder {
  color: white; }

input#add-saving::placeholder {
  color: white; }

.hide {
  display: none; }

.list-container {
  display: flex;
  flex-wrap: wrap; }
  .list-container p {
    width: 50%; }

.budget-add {
  display: flex;
  width: 40%; }
  .budget-add .add {
    border-radius: 50%;
    background: #FABC09;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
    .budget-add .add:hover {
      background-color: #FACC43;
      background-color: 0.2s ease-out; }
  .budget-add input::placeholder {
    font-size: 1.2rem; }

/*Bar*/
#budget-full {
  background: #FACC43;
  width: 0%; }

#budget-empty {
  background: #25BEA0;
  width: 100%; }
  #budget-empty p {
    right: 0; }

.budget-bar-container {
  display: flex;
  height: 30px;
  position: relative; }
  .budget-bar-container p {
    position: absolute;
    top: -30px; }

#income-buttons-container {
  display: flex; }

.income-button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px #25BEA0 solid;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  background: #3dd9bb;
  opacity: 0.9;
  height: 80px;
  width: 200px;
  color: white; }
  .income-button:hover {
    background: #68e1ca; }

.income-box {
  float: left;
  padding: 2rem; }

#income-container {
  width: 65%;
  padding: 0px 50px; }

#your-income-container {
  width: 35%;
  padding: 0px 50px 20px;
  background: #FACC43;
  border-radius: 10px; }
  #your-income-container h4 {
    text-align: center;
    color: #146958;
    font-size: 1.5rem;
    font-weight: bold; }

#income-table {
  text-transform: capitalize; }

.result-container {
  display: flex;
  color: white;
  text-align: center;
  padding-top: 50px; }
  .result-container .results-box {
    width: 33.33%; }
  .result-container h2 {
    font-size: 2.2rem; }
  .result-container h3 {
    color: #34073D;
    font-weight: bold;
    font-size: 4rem;
    padding: 20px; }

.result-bottom {
  display: flex;
  justify-content: center;
  padding: 50px; }
  .result-bottom a {
    background: #FABC09; }
    .result-bottom a:hover {
      background: #FACC43; }

/*Main Styles*/
html {
  font-size: 62.5%; }

main {
  width: 80%;
  margin: 0 auto; }

body {
  height: 100vh;
  background: linear-gradient(to bottom right, #29d3b2, #bdf2e8); }

.hide {
  display: none; }

#login-page {
  background: linear-gradient(to bottom right, #25BEA0, #bdf2e8); }
  #login-page .container {
    width: 30%;
    padding-top: 100px;
    color: white; }
    #login-page .container label {
      color: white; }
    #login-page .container input {
      border-bottom: 2px white solid; }
  #login-page button {
    background: #FABC09; }

#title-top {
  width: 200px; }
  #title-top #titles {
    display: flex; }
  #title-top h1 {
    margin-right: 30px;
    margin-bottom: 5px; }

div.line-container {
  position: relative;
  width: 100%; }

span.line {
  background: white;
  width: 40%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms ease; }
  span.line.right {
    left: 50%; }

/*# sourceMappingURL=styles.css.map */
