/*Website Colours*/
$primary: #FABC09;
$secondary: #25BEA0;
$accent: #FACC43;


/*Stylesheet Import*/
@import 'normalize';
@import 'onboarding';
@import 'footer';
@import 'data';
@import 'mediaqueries';
@import 'progress';

/*Main Styles*/

html {
	font-size: 62.5%;
}

main {
	width: 80%;
	margin: 0 auto;
}

