.budget-right {
	padding-left: 30px;
}

.budget-title, .overview-title {
	display: flex;

		i {
			margin: 33px 0px 20px 10px;
			color: $primary;
		}
}


input[readonly].budget-input {
    border-bottom: none !important;
}

input[readonly].asset-input {
    border-bottom: none !important;
}

input[readonly].income-input {
    border-bottom: none !important;
}

.income-table {
	background: lighten($primary, 30%);
	padding: 20px;
	border-radius: 20px;
	margin-top: 10px;

		h4 {
			font-size: 1.3rem;
			margin-top: 10px;
		}

		tr {
			border: none;
		}

		td {
			font-size: 0.7rem;
		}
}


.hide {
	display: none;
}

.asset-title {
	display: flex;

		i {
			margin: 33px 0px 20px 10px;
			color: $primary;
		}
}

table {
	text-transform: capitalize;
}

#assets {
	background: lighten($secondary, 50%); 
	margin-top: 40px;
	padding: 0px 20px;
	border-radius: 20px;
}

.display-data {
	display: flex;
		div {
			width: 33.33%;
			text-align: center;
		}
}