.budget-right {
	padding-left: 30px;
}

.budget-title {
	display: flex;

		i {
			margin: 33px 0px 20px 10px;
			color: $primary;
		}
}


input[readonly].budget-input {
    border-bottom: none !important;
}

input[readonly].asset-input {
    border-bottom: none !important;
}


.hide {
	display: none;
}

.asset-title {
	display: flex;

		i {
			margin: 33px 0px 20px 10px;
			color: $primary;
		}
}

table {
	text-transform: capitalize;
}