header {
	background: $secondary;
	position: relative;
	top: 0;
	width: 100%;
	h1 {
		font-size: 1.2rem;
		font-weight: bold;
		color: white;
		margin: 0px 0px 20px;
		padding: 20px 0px 20px 70px;
	}
}