.nav-bar ul {
	display: flex;
	color: white;
	justify-content: space-around;

		i {
			font-size: 2.5rem;
		}
}

header {
	display: flex !important;
	position: relative;

	.title-container {
		width: 20%;
	}

	.nav-bar {
		width: 40%;
		position: absolute;
		right: 0;
		font-size: 0.7rem;
		text-align: center;
	}
}