.modal-main {
  position:fixed;
  background: white;
  top: 10%;
  left: 10%; 
  right: 10%;
  bottom: 10%;
  border: 1px solid black;
  z-index:4;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

select#show {
  display: block
}

input#show {
  display: block;
}