.modal-main {
  position:fixed;
  background: white;
  top: 10%;
  left: 10%; 
  right: 10%;
  bottom: 10%;
  border: 1px solid $background;
  z-index:4;
  padding: 50px 100px;
  border-radius: 5px;
  box-shadow: 10px 10px 52px -4px rgba(0,0,0,0.2);

    h2 {
      margin-top: 0;
    }

    h4 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0px 0px 10px;
    }
}

.modal-input {
  width: 50%;
  padding: 10px;
}


.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}

select#show {
  display: block;
}

input#show {
  display: block;
}

/*Form Top*/

.form-top, .form-bottom {
  display: flex;
}

/*Income-Amount*/

.item-amount {
  display: flex;
  width: 50%;
}

.item-amount-input {
  width: 50%;

    &:first-child {
      margin-right: 10px;
    }
} 

/*Single Select Button*/

.single-select {
  display: flex;
}

.single-select .selection {
  margin-bottom: 1em;

    i {
      font-size: 1rem;
    }
}

.single-select .selection label {
  display: inline-block;
  width: 100px;
  background-color: $background;
  border-radius: 6px;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  color: black;
}

.single-select .selection label:hover {
  background-color: $secondary;
}

.single-select .selection input[type=radio] {
  display: none;
}

.single-select .selection input[type=radio]:checked ~ label {
  background-color: $secondary;
  color: white;
}