/*Website Colours*/
button.update-btn {
  background: #25BEA0;
  width: 20px;
  height: 20px;
  padding: 0px;
  line-height: 12.5px;
  margin: 0px 5px 10px; }

div.update-block {
  text-align: center;
  padding: 10px;
  background: #92ead9;
  border-radius: 5px;
  height: 120px; }
  div.update-block p {
    margin: 8px 0px; }
  div.update-block h4 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px; }

div.head-block {
  background: #D3E3DD;
  height: 175px; }
  div.head-block h3 {
    margin: 15px 0px; }

.data-block {
  background: #fbd975;
  padding: 20px;
  border-radius: 5px;
  height: 150px; }
  .data-block h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px; }
  .data-block p {
    font-size: 2rem;
    margin: 10px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #34073D; }

span.data-value {
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: #25BEA0; }

div.edit-bar {
  background: #92ead9;
  width: 100%;
  height: 100%; }

div.graph-div {
  width: 90%;
  margin: 0 auto; }
  div.graph-div svg {
    padding-top: 20px; }
    div.graph-div svg text {
      font-size: 1rem; }

.variable-container {
  display: flex;
  align-items: center; }
  .variable-container i {
    margin: 10px 5px 40px;
    font-size: 2rem;
    color: #D3E3DD; }
    .variable-container i:hover {
      cursor: pointer; }

.assumptions {
  margin: 10px 10px 40px 0px; }

header {
  background: #25BEA0;
  position: relative;
  top: 0;
  width: 100%; }
  header h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 0px 0px 20px;
    padding: 20px 0px 20px 70px; }

.budget-right {
  padding-left: 30px; }

.budget-title {
  display: flex; }
  .budget-title i {
    margin: 33px 0px 20px 10px;
    color: #FABC09; }

input[readonly].budget-input {
  border-bottom: none !important; }

input[readonly].asset-input {
  border-bottom: none !important; }

.hide {
  display: none; }

.asset-title {
  display: flex; }
  .asset-title i {
    margin: 33px 0px 20px 10px;
    color: #FABC09; }

table {
  text-transform: capitalize; }

.budget-container .section-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid #D3E3DD; }
  .budget-container .section-container .budget-section-left {
    width: 30%; }
  .budget-container .section-container .budget-section-right {
    width: 70%; }
  .budget-container .section-container .stats-container {
    display: flex; }
  .budget-container .section-container .stats {
    width: 50%;
    font-size: 0.8rem; }
  .budget-container .section-container .stats-remaining {
    text-align: right; }
.budget-container h4 {
  font-size: 1rem;
  line-height: 2.3rem;
  margin: 0px; }
.budget-container .bar-container {
  height: 20px; }

p.overbudget {
  color: red; }

.modal-main {
  position: fixed;
  background: white;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid #D3E3DD;
  z-index: 4;
  padding: 50px 100px;
  border-radius: 5px;
  box-shadow: 10px 10px 52px -4px rgba(0, 0, 0, 0.2); }
  .modal-main h2 {
    margin-top: 0; }
  .modal-main h4 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0px 0px 10px; }

.modal-input {
  width: 50%;
  padding: 10px; }

.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer; }

.display-block {
  display: block; }

.display-none {
  display: none; }

select#show {
  display: block; }

input#show {
  display: block; }

/*Form Top*/
.form-top, .form-bottom {
  display: flex; }

/*Income-Amount*/
.item-amount {
  display: flex;
  width: 50%; }

.item-amount-input {
  width: 50%; }
  .item-amount-input:first-child {
    margin-right: 10px; }

/*Single Select Button*/
.single-select {
  display: flex; }

.single-select .selection {
  margin-bottom: 1em; }
  .single-select .selection i {
    font-size: 1rem; }

.single-select .selection label {
  display: inline-block;
  width: 100px;
  background-color: #D3E3DD;
  border-radius: 6px;
  padding: 15px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  color: black; }

.single-select .selection label:hover {
  background-color: #25BEA0; }

.single-select .selection input[type=radio] {
  display: none; }

.single-select .selection input[type=radio]:checked ~ label {
  background-color: #25BEA0;
  color: white; }

.nav-bar ul {
  display: flex;
  color: white;
  justify-content: space-around; }
  .nav-bar ul i {
    font-size: 2.5rem; }

header {
  display: flex !important;
  position: relative;
  align-items: center;
  margin-bottom: 20px; }
  header .title-container {
    width: 30%; }
  header .nav-bar {
    width: 40%;
    position: absolute;
    right: 0;
    font-size: 0.7rem;
    text-align: center; }
    header .nav-bar figcaption {
      text-transform: uppercase; }
    header .nav-bar a {
      color: white; }
      header .nav-bar a:hover i, header .nav-bar a:hover figcaption {
        color: #FABC09;
        transition: color 0.3s ease;
        cursor: pointer; }

@media only screen and (max-width: 700px) {
  header .title-container {
    width: 100%; }

  header .nav-bar {
    width: 100%; } }
#root h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #25BEA0; }

.bar-container {
  display: flex;
  height: 30px;
  width: 100%; }

.bar-full {
  background: #25BEA0; }

.bar-empty {
  background: #FACC43;
  width: 100%; }

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
