/*Website Colours*/
button.update-btn {
  background: #25BEA0;
  width: 20px;
  height: 20px;
  padding: 0px;
  line-height: 12.5px;
  margin: 0px 5px 10px; }

div.update-block {
  text-align: center;
  padding: 10px;
  background: #92ead9;
  border-radius: 5px;
  height: 120px; }
  div.update-block p {
    margin: 8px 0px; }
  div.update-block h4 {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px; }

div.head-block {
  background: #D3E3DD;
  height: 175px; }
  div.head-block h3 {
    margin: 15px 0px; }

.data-block {
  background: #fbd975;
  padding: 20px;
  border-radius: 5px;
  height: 150px; }
  .data-block h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px; }
  .data-block p {
    font-size: 2rem;
    margin: 10px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    color: #34073D; }

span.data-value {
  margin: 10px;
  text-align: center;
  font-weight: bold;
  color: #25BEA0; }

div.edit-bar {
  background: #92ead9;
  width: 100%;
  height: 100%; }

div.graph-div {
  width: 90%;
  margin: 0 auto; }
  div.graph-div svg {
    padding-top: 20px; }
    div.graph-div svg text {
      font-size: 1rem; }

header {
  background: #25BEA0;
  position: relative;
  top: 0;
  width: 100%; }
  header h1 {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin: 0px 0px 20px;
    padding: 20px 0px 20px 70px; }

.budget-right {
  padding-left: 30px; }

.budget-container .section-container {
  display: flex;
  margin: 10px;
  padding: 10px;
  border-top: 1px solid #D3E3DD; }
  .budget-container .section-container .budget-section-left {
    width: 15%; }
  .budget-container .section-container .budget-section-right {
    width: 85%; }
  .budget-container .section-container .stats-container {
    display: flex; }
  .budget-container .section-container .stats {
    width: 50%;
    font-size: 0.8rem; }
  .budget-container .section-container .stats-remaining {
    text-align: right; }
.budget-container h4 {
  font-size: 1rem;
  line-height: 2.3rem;
  margin: 0px; }
.budget-container .bar-container {
  height: 20px; }

.modal-main {
  position: fixed;
  background: white;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid black;
  z-index: 4; }

.display-block {
  display: block; }

.display-none {
  display: none; }

select#show {
  display: block; }

input#show {
  display: block; }

.nav-bar ul {
  display: flex;
  color: white;
  justify-content: space-around; }
  .nav-bar ul i {
    font-size: 2.5rem; }

header {
  display: flex !important;
  position: relative; }
  header .title-container {
    width: 20%; }
  header .nav-bar {
    width: 40%;
    position: absolute;
    right: 0;
    font-size: 0.7rem;
    text-align: center; }
    header .nav-bar a {
      color: white; }
      header .nav-bar a:hover i, header .nav-bar a:hover figcaption {
        color: #FABC09;
        transition: color 0.3s ease;
        cursor: pointer; }

#root h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #25BEA0; }

.bar-container {
  display: flex;
  height: 30px;
  width: 100%; }

.bar-full {
  background: #25BEA0; }

.bar-empty {
  background: #FACC43;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
