/*Website Colours*/
$primary: #FABC09;
$secondary: #25BEA0;
$accent: #FACC43;
$accent2: #34073D;
$background: #D3E3DD;


@import 'datablock';
@import 'header';
@import 'budget';
@import 'monthly';
@import 'transaction';
@import 'nav';

#root h2 {
	font-size: 1.7rem;
	font-weight: bold;
	color: $secondary;
}


.bar-container {
	display: flex;
	height: 30px;
	width: 100%;
}

.bar-full {
	background: $secondary;
}

.bar-empty{
	background: $accent;
	width: 100%;
}


